.h-page-home
	header.l-home-header
		.l-home-header__logo
			include ../../components/bLogo/bLogo.jade
		.l-home-header__nav
			include ../../components/bNav/bNav.jade

	article.l-home-desc._an-start-point_left._an_js_endPoint(
			id="intro"
			scrollspy-broadcast
			scr-target-dirc
			scr-target-dirc-addclass="_an_js_endPoint"
	 	)
		include ../../components/bDesc/bDesc.jade

	article.l-home-portfolio._an-start-point_left(
			id="portfolio"
			scrollspy-broadcast
			scr-target-dirc
			scr-target-dirc-addclass="_an_js_endPoint"
		)
		include ../../components/bPortfolio/bPortfolio.jade

	article.l-home-about._an-start-point_left(
			id="about"
			scrollspy-broadcast
			scr-target-dirc
			scr-target-dirc-addclass="_an_js_endPoint"
		)
		include ../../components/bAbout/bAbout.jade

	article.l-home-services._an-start-point_left(
			id="services"
			scrollspy-broadcast
			scr-target-dirc
			scr-target-dirc-addclass="_an_js_endPoint"
		)
		include ../../components/bServices/bServices.jade

	article.l-home-blog._an-start-point_left(
			id="blog"
			scrollspy-broadcast
			scr-target-dirc
			scr-target-dirc-addclass="_an_js_endPoint"
		)
		include ../../components/bBlog/bBlog.jade

	article.l-home-contact._an-start-point_left(
			id="contact"
			scrollspy-broadcast
			scr-target-dirc
			scr-target-dirc-addclass="_an_js_endPoint"
		)
		include ../../components/bContact/bContact.jade

	footer.l-home-footer
		include ../../components/bFooter/bFooter.jade
